<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
		the application context definition for the spring app
		DispatcherServlet
	-->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<map>
				<entry key="/personList.htm">
					<ref bean="personController" />
				</entry>
				<entry key="/hello.htm">
					<ref bean="helloController" />
				</entry>
			</map>
		</property>
	</bean>
	<bean name="personController"
		class="pe.com.spring.mvc.crud.web.controller.PersonController">
		<property name="personService" ref="personService" />
	</bean>
	<bean name="helloController" class="pe.com.spring.mvc.crud.web.controller.HelloController" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>