<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC 
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="articuloDAO" class="pe.com.sgp.dao.ArticuloDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="clienteDAO" class="pe.com.sgp.dao.ClienteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>