<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Exceptions Service Definition -->
	<bean id="bizTxArticuloService" parent="baseTransactionProxy">
		<property name="target" ref="articuloServiceTarget" />
	</bean>

	<!-- ApplicationLog Service -->
	<bean id="articuloServiceTarget"
		class="pe.com.sgp.service.ArticuloServiceImpl">
		<property name="articuloDAO" ref="articuloDAO" />
	</bean>
</beans>
