<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="articuloService"
		class="pe.com.sgp.service.ArticuloServiceImpl">
		<property name="articuloDAO" ref="articuloDAO" />
	</bean>

	<bean id="clienteService"
		class="pe.com.sgp.service.ClienteServiceImpl">
		<property name="clienteDAO" ref="clienteDAO" />
	</bean>
	
</beans>
