<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					classpath:pe/com/sgp/config/database.properties
				</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/dbpedido</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
	</bean>

	<!-- 
		********************************************************************************************************
		* NOTICE: Abstract SessionFactory that serves as a TEMPLATE for application-specific SessionFactories  *
		********************************************************************************************************
	-->
	<bean id="abstractSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		abstract="true">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					false
				</prop>
				<prop key="hibernate.generate_statistics">
					true
				</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" parent="abstractSessionFactory">
		<property name="configLocations">
			<list>
				<value>
					classpath:pe/com/sgp/config/support-hibernate.cfg.xml
				</value>
			</list>
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--  HINT: This class is often used with parent / child bean definitions.
		Typically, you will define the transaction manager and default transaction attributes (for method name patterns) 
		in an abstract parent bean definition, deriving concrete child bean definitions for specific target objects.
		This reduces the per-bean definition effort to a minimum.
	-->
	<bean id="baseTransactionProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- Exceptions Service Definition -->
	<bean id="businessTransactionServiceProxy" parent="baseTransactionProxy">
		<property name="target" ref="articuloService" />
	</bean>

	<!-- ApplicationLog Service -->
	<bean id="articuloService" class="pe.com.sgp.service.ArticuloServiceImpl" singleton="true">
		<property name="articuloDAO" ref="articuloDAO"/>
	</bean>

	<bean id="articuloDAO" class="pe.com.sgp.dao.ArticuloDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>